html {
    height: 100%;
}
body{
	background-image: url("Login_Background.png");
	background-size: 100%;
  background-repeat: no-repeat;
	margin: 0;
  height: 90%;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.login_box {
	background-color: #3D527D;
	width: 400px;
	height: 500px;
	border-radius: 25px;
	display: flex;
	align-items: center;
  flex-direction: column;
  margin-left: 120px;
}

.userform {
	display:flex;
	flex-direction: column;
}

.UserInput {
	width: 110%;
  height:25px;
  margin-top: 50px;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.Login_title {
	font-size: 35px;
	vertical-align: text-top;
  align-content: center;
	margin-top: 10px;
	flex-direction: column;
  color: white;
}

.logBttn {
  align-self: center;
	margin-top: 15px;
  font-size: 30px;
  border-radius: 0.4rem;
  box-shadow: 3px 3px 5px 6px #000000;
}

.navBarHeader {
  background-color: #e6e9ed;
  overflow: hidden;
  width: 100%;

}

.navBarHeader a {
  float: right;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.navBarHeader a:hover {
  color: #DA4E35;
}

h2 {
  color:white;
  font-size:40px;
  padding:0px, 16px, 0px, 16px;
}

.loginBox {
  align-content: center;
  background-color: #1c3159;
  margin:0px;
  border:0px;
  padding:0px;
  overflow: hidden;
  text-align: center;
  font-family:'Poppins', sans-serif;
}

.newlink{
  font-size: 20px;
  color: white;
}

input[type=submit] {
  width:57%;
  height:50px;
  font-size:25px;
  background-color: #333;
  color: white;
  align-items: center;
}