body {
  margin: 0px;
  border:0px;
  padding:0px;
  background-color: #D7DBDD;
}

h1 {
  padding-top:100px;
  color:green;
  text-align: center;
  align-content: center;
  align-items: center;
  align-self: center;
  font-size:150px;
}
.box {
  align-items: center;
  align-self: center;
  align-content: center;
}