body {
  margin: 0px;
  border:0px;
  padding:20px;
  background-color: #D7DBDD;
}

h1 {
  padding-top:20px;
  color:red;
  text-align: center;
  align-content: center;
  align-items: center;
  align-self: center;
  font-size:70px;
}
.box {
  align-items: center;
  align-self: center;
  align-content: center;
}

ul {
  padding-top:100px;
  color:red;
  font-size:70px;
}