<!DOCTYPE html>	
<html>
<head>
	<title>About Us</title>
	<link rel="stylesheet" type="text/css" href="static/StyleSheets/About_us.css">
</head>
<body>
	<div class = "navBarHeader">
		<a href="Login.html">LOGIN</a>
		<a href="Contact_us.html">CONTACT US</a>
		<a href="About_us.html">ABOUT US</a>
		<a href="Home.html">HOME</a>
	</div>

	<div class = "aboutBlock">
		<h2>ABOUT US<h2>
	</div>

	<div class = "info">
		<img class = "infoimage", src="static/Pictures/Securitycamera.png">
		<h1 class = "BigBlue">15 years of Experiences in our field And give best services</h1>
		<p class = "SmallBlue">Security Systems of America ranked one of the top 100 security companies in the country by SDM Magazine.</p>
			<p class = SmallGrey>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution.</p>

			<p class = SmallGrey>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps.</p>

			<ul>
				<li>Arm/Disram your home security system</li>
				<li>Live Video monitoring</li>
				<li>Access from anywhere</li>
				<li>View security alerts / notification</li>
			</ul>
		
	</div>

	

	<div class = "developers">
		<!--div class = "img1"-->
		<h3>Meet the Team</h3>

		<div class="developercard">
			<img class="img1", src="static/Photos/Shruti.jpg">
			<p class="dtext">Hi I'm a second year Data Mining and Machine Learning student at the Uiversity of Toroto, Scarborough. Obviously as I am pursuing it I am super intrested in Ml and AI and am always down to discuss new ideas and oppurtunities. I am looking for a career in deep learning. Please feel free to talk to me about any new ideas or opputunities.</p>
		</div>

		<div class="developercard">
			<p class="dtext">Hey! I'm a passionate second year Computer Science student, specialising in Software Engineering who is extremely enthusiastic about backend development and machine learning! My favourite languages to code with are Java, Python and C. I believe that Artificial Intelligence is at the forefront of the next digital revolution and has the potential to revolutionise healthcare</p>
			<img class="img2", src="static/Photos/Abby.jpg">
		</div>
		<div class="developercard">
			<img class="img3", src="static/Photos/Teddy.jpg">
			<p class="dtext">A Technology fanatic currently studying at the University of Toronto.Experienced Merchandise Associate with a demonstrated history of working in the public service and customer relations industry. With experience in leadership and event planning can fit into a team or workplace with ease. Skilled in Computer Repair, Event Planning, Microsoft Excel, Customer Service, and Microsoft Word. Strong computer science professional currently studying at University of Toronto.</p>
		</div>
		<div class="developercard">
			<p class="dtext">I'm an undergrad student pursuing a Software Engineering specialist (Co-op) degree at University of Toronto, Scarborough, with a strong interest in web development and data science.</p>
			<img class="img4", src="static/Photos/Sid.jpg">
		</div>
		<br>
		<br>
	</div>

	<div class = "Footer">
		<div class = 'part1'>
			<h1>Get in Touch</h1>
			<p class = "phoneNumber">437-981-1976</p>
			<br>
			<br>
			<p class = "footerPara">1265 Military Trail<br><br>Scarborough<br><br>ON M1C 1A4</p>
		</div>
		<div class = 'part2'>
			<h1>Quick Links</h1>
			<ul class = "ulo">
				<li><a href="Home.html">Home</a></li>
				<br>
				<li><a href="About_us.html">About Us</a></li>
				<br>
				<li><a href="Contact_us.html">Contact Us</a></li>
				<br>
				<li><a href="Login.html">Login</a></li>
				<br>
			</ul>
		</div>
	</div>
</body>
</html>