<!DOCTYPE html>	
<html>
	<header>
		<title>Account Information</title>
		<link rel="stylesheet" type="text/css" href="static/StyleSheets/Acc_info.css">
	</header>
	<body>
		<div class = "headerish">
			<h1>Change your account information</h1>
		</div>
		<br>
		<br>
		<div class="myForm">
			<form>
			<label for="fname">Enter new user name</label><br>
			<input type="text" id="fname" name="fname" placeholder="Enter new username"><br><br>
			<label for="lname">Enter new Password</label><br>
			<input type="Password" id="pw" name="pw" placeholder="Enter new password"><br><br>
			<input type="submit" value="Save"><br><br>
			</form>
		</div>
	</body>
</html>