<!DOCTYPE html>	
<html>
<head>
	<title>Contact Us</title>
	<link rel="stylesheet" type="text/css" href="static/StyleSheets/Contact_us.css">
</head>
<body>
	<div class = "navBarHeader">
		<a href="Login.html">LOGIN</a>
		<a href="Contact_us.html">CONTACT US</a>
		<a href="About_us.html">ABOUT US</a>
		<a href="Home.html">HOME</a>
	</div>

	<div class = "contactUsBox">
		<h2>CONTACT US<h2>
	</div>

	<div class = "textbox">
		<img class = "cust", align = "right" , src="static/Pictures/CustomerSupport.png">
		<h3>Request Service On Your System</h3>
		<p class = "paraone"> You can now request service online by filling out the form below. We pride ourselves on prompt response time and excellent service. Our goal is to provide same day or next day service whenever possible.</p>
		<p class = "paratwo">To request service on any of your security systems:<br>
		Phone No.: 437 981 1976<br>
		Email: shruti.sood@mail.utoronto.ca</p>
	</div>

	<div class = "formBox">
		<br>
		<h4>Service Request Form</h4>
		<form>
			<label for="fname">First name</label><br>
			<input type="text" id="fname" name="fname"><br><br>
			<label for="lname">Last name</label><br>
			<input type="text" id="lname" name="lname"><br><br>
			<label for="msg">Message</label><br>
			<input type="textbox" id="msg" name="msg"><br><br>
			<input type="submit" value="Submit"><br><br>
		</form>
	</div>

	<div class = "Footer">
		<div class = 'part1'>
			<h1>Get in Touch</h1>
			<p class = "phoneNumber">437-981-1976</p>
			<br>
			<br>
			<p class = "footerPara">1265 Military Trail<br><br>Scarborough<br><br>ON M1C 1A4</p>
		</div>
		<div class = 'part2'>
			<h1>Quick Links</h1>
			<ul>
				<li><a href="Home.html">Home</a></li>
				<br>
				<li><a href="About_us.html">About Us</a></li>
				<br>
				<li><a href="Contact_us.html">Contact Us</a></li>
				<br>
				<li><a href="Login.html">Login</a></li>
				<br>
			</ul>
		</div>
	</div>
</body>
</html>