<!DOCTYPE html>	
<html>
<head>
	<title>HeaderFooter</title>
	<link rel="stylesheet" type="text/css" href="static/HeaderFooter.css">
</head>
<body>
	<div class = "navBarHeader">
		<a href="Home.html">HOME</a>
  		<a href="About_us.html">ABOUT US</a>
  		<a href="Contact_us.html">CONTACT US</a>
  		<a href="Login.html">LOGIN</a>
	</div>
	<br>
	<div class = "Footer">
		<h1>Quick Links</h1>
		<ul>
			<li><a href="Home.html">HOME</a></li>
			<li><a href="About_us.html">ABOUT US</a></li>
			<li><a href="Contact_us.html">CONTACT US</a></li>
			<li><a href="Login.html">LOGIN</a></li>
		</ul>
	</div>
</body>
</html>