<!DOCTYPE html>	
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="static/StyleSheets/Home.css">
</head>
<body>
	<div class = "navBarHeader">
		<a href="Login.html">LOGIN</a>
		<a href="Contact_us.html">CONTACT US</a>
		<a href="About_us.html">ABOUT US</a>
		<a href="Home.html">HOME</a>
	</div>


	
	<div class="header">
		<img src="static/Pictures/logo.png" alt="logo" />
		<h1 class = "CompanyName">EcoSecure</h1>
	</div>

	<div class="intro1">
		<br>
		
			<h1><span class = "intro1head">We consistently review the top security systems to make it easier for you. </span><br>
				With regards to anchoring your home, everybody normally needs quality and dependability, however great esteem is a vital factor as well, particularly on the grounds that the expense of these frameworks can include after some time.
				<br>The Value Leader in Security - Putting People before Profits
			</h1>
		<img class="picture" src = "static/Pictures/Camera.png">

		
		<br>
	</div>

	<div class="intro2">
		<br>
		<h1 class = "CenterBigBlue">Segment We Serve</h1>
		<p class = "SmallGrey">For the greater part of us, our house isn't only a place, it's the place we bring up our kids, invest energy with family and periodically
		resign. It speaks to one of the best ventures a significant number of us make in our lifetimes, yet the vast majority.</p>
		<img src = "static/Pictures/Types.png">
		<br>
	</div>

	<div class="intro3">
		<br>
		<h1 class = "BigBlue">Our security packages ensure that you feel safe and secure in your home.</h1>
		<p class = "SmallBlue">We offer high-quality security services at affordable prices</p>
		<p class = "SmallGrey">We believe in reliable, local protection. We’ve been protecting homes and businesses across America since 1992. Our company is staffed with dedicated professionals who live in the communities they serve- perhaps even in your neighborhood.</p>
		<ul>
			<li>Arm/Disram your home security system</li>
			<li>Live Video monitoring</li>
			<li>Access from anywhere</li>
			<li>View security alerts / notification</li>
		</ul>
		<img src = "static/Pictures/Frontdoor.png">
		<br>
	</div>

	<div class="comment">
		<br>
		<p class = "ctxt">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
		<img class = "dp", src = "static/Pictures/woman.png">
		<p class = "cname">Michel Taro</p>
		<br>
	</div>

	<div class="intro4">
		<br>
		<p class = "SmallBlue">Download the App</p>
		<h1 class = "BigBlue">Use your phone to see and control your home from anywhere</h1>
		<p class = "SmallGrey">You can control everything in your house with our application. Use your phone to monitor your home any part of globe</p>
		<img src = "static/Pictures/Phone.png">
		<br>
	</div>

	<div class = "Footer">
		<div class = 'part1'>
			<h1>Get in Touch</h1>
			<p class = "phoneNumber">437-981-1976</p>
			<br>
			<br>
			<p class = "footerPara">1265 Military Trail<br><br>Scarborough<br><br>ON M1C 1A4</p>
		</div>
		<div class = 'part2'>
			<h1>Quick Links</h1>
			<ul class = "ulo">
				<li><a href="Home.html">Home</a></li>
				<br>
				<li><a href="About_us.html">About Us</a></li>
				<br>
				<li><a href="Contact_us.html">Contact Us</a></li>
				<br>
				<li><a href="Login.html">Login</a></li>
				<br>
			</ul>
		</div>
	</div>
</body>
</html>