<!DOCTYPE html>		
<html>

<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="static/StyleSheets/Login.css"/>
	<link rel="stylesheet" type="text/css" href="static/StyleSheets/Home.css"/>
</head>
<body>
	<div class = "navBarHeader">
		<a href="Login.html">LOGIN</a>
		<a href="Contact_us.html">CONTACT US</a>
		<a href="About_us.html">ABOUT US</a>
		<a href="Home.html">HOME</a>
	</div>
	<div class = "loginBox">
		<h2>LOGIN<h2>
	</div>
	<div class ="container">
		<div class="login_box">
			<form class="userform" action = "signinform" method="post">
				<br>
				<span class="Login_title">Enter your Login details</span> <br>
				<input type="text" name="LoginID" class="UserInput" placeholder="UserName (or email ID)" required>
				<input type="password" name="Password" class="UserInput" placeholder="Password" required><br><br>
				<input type="submit" value="Submit" class="logBttn">
			</form>
			<br><br>
			<a class= "newlink" href="signup.html">Need a New Account? Click here</a>
		</div>
	</div>
	<div class = "Footer">
		<div class = 'part1'>
			<h1>Get in Touch</h1>
			<p class = "phoneNumber">437-981-1976</p>
			<br>
			<br>
			<p class = "footerPara">1265 Military Trail<br><br>Scarborough<br><br>ON M1C 1A4</p>
		</div>
		<div class = 'part2'>
			<h1>Quick Links</h1>
			<ul class = "ulo">
				<li><a href="Home.html">Home</a></li>
				<br>
				<li><a href="About_us.html">About Us</a></li>
				<br>
				<li><a href="Contact_us.html">Contact Us</a></li>
				<br>
				<li><a href="Login.html">Login</a></li>
				<br>
			</ul>
		</div>
	</div>
</body>
</html>