<!DOCTYPE html>
<html>
<head>
	<title>Account Sign Up</title>
	<link rel="stylesheet" type="text/css" href="static/StyleSheets/signup.css">
</head>
<body>
	<h1>Welcome to XXX! Please create a account below so that we can move towards a safer future TOGETHER</h1>
	<form class ="signupform" action="signupform" method="post">
		<input type="text" name="firstname" class="userinput" placeholder="First Name">
		<input type="text" name="lastname" class="userinput" placeholder="Last Name">
		<input type="email" name="emailadd" class="userinput" placeholder="Email Address">
		<input type="password" name="password" class="userinput" placeholder="Password">
		<input type="password" name="confirmpassword" class="userinput" placeholder="confirmPassword">
		<input type='submit' value='SignUp' class="signupbttn">
	</form>

</body>
</html>