<!DOCTYPE html>
<html>
<head>
	<title>Account Sign Up</title>
	<link rel="stylesheet" type="text/css" href="static/StyleSheets/signup.css">
</head>
<body>
	<div class = "navBarHeader">
		<a href="Login.html">LOGIN</a>
		<a href="Contact_us.html">CONTACT US</a>
		<a href="About_us.html">ABOUT US</a>
		<a href="Home.html">HOME</a>
	</div>

	<div class = "signUpBox">
		<h2>SIGN UP<h2>
	</div>

	<div class = "formBox">	
		<form class ="signupform" action="signupform" method="post">
			<br>
			<br>
			<br>
			<input type="text" name="firstname" class="userinput" placeholder="First Name" align="center"><br><br>
			<input type="text" name="lastname" class="userinput" placeholder="Last Name"><br><br>
			<input type="email" name="emailadd" class="userinput" placeholder="Email Address"><br><br>
			<input type="password" name="password" class="userinput" placeholder="Password"><br><br>
			<input type="password" name="confirmpassword" class="userinput" placeholder="confirmPassword"><br><br>
			<input type='submit' value='SignUp' class="signupbttn">
		</form>
	</div>

</body>
</html>