body {
  margin:0px;
  border:0px;
  padding:0px; 
}


.intro p{
  width: 50%;
}

.header img{
  float: left;
  width: 130px;
}

.header h1 {
  position: relative;
  top: 18px;
  padding-top: 4rem;
  left: 10px;
}

.CompanyName{
  color: #333;
}

.navBarHeader {
  background-color: #e6e9ed;
  overflow: hidden;
}

.navBarHeader a {
  float: right;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.navBarHeader a:hover {
  color: #DA4E35;
}

.intro1 {
  padding-left: 16px;	
  background-color:#C7D3EA;
  border-bottom: 1px solid;
  border-color: #D1D1D1;
  flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  width: 100%;

}


.intro1 h1{
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  width: 50%;
}

.intro1head {
  size: 2rem;
}

.picture{
  height: 300px;
  width: 30%;
  
}

.intro2 {
  padding-left: 16px;		
  background-color: white;
}
.intro2 img{
  width: 98%;
}

.intro3 {
  padding-left: 16px;	
  background-color:#D3D4D5
}

.intro4 {
  padding-left: 16px;	
  background-color: #e6edf3;
}

.comment {
  padding-left: 16px;	
  background-color:#112850;
  align-content: center;
}

.Footer {
  background-color: #171f2c;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 50px;
  font-family:'Poppins', sans-serif;
  margin:0px;
}

.Footer a {
  color: #ACC6E2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.Footer a:hover {
  color: white;
}

.ulo {
  list-style: none;
  padding-left: 0px;
}

.phoneNumber {
  color: #FF3E3E;
  font-size: 27px;
  padding: 0px 16px 0px 16px;
  margin-top: 10px;
  border-top: 0px; 
  margin-bottom: 0px;
}

.footerPara {
  color: #ACC6E2;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
  font-size: 18px;
  margin-top: 0px;
  border-top: 0px; 
}

.part1{
  float: left; 
}

.part2{
  float: left;
  margin-left: 40px;
}



ul {
  font-size: 16px;
  font-family: sans-serif;
  color:#4C4D4F;
}

.SmallGrey {
  font-size: 16px;
  font-family: sans-serif;
  color:#4C4D4F;
  width: 95%;
  margin-left: 1rem;
}

.SmallBlue {
  color:#112850;
  font-size:30px; 
  width: 60%;
}

.BigBlue {
  color:#112850;
  font-style:bold;
}

.CenterBigBlue {
  color:#112850;
  font-style:bold;
  text-align: center;
}

.ctxt {
  color:white;
  font-family: serif;
  font-size: 20px;
  text-align: center;
}

.cname {
  color:#569AEF;
  font-family: sans-serif;
  font-size: 30px;
  text-align: center;
}

.dp{
  box-shadow: 4px 4px black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 8%;
}

.Footer h1{
  color: white;
}