.navBarHeader {
  background-color: #e6e9ed;
  overflow: hidden;
}

.navBarHeader a {
  float: right;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.navBarHeader a:hover {
  color: #DA4E35;
}

h2 {
  color:white;
  font-size:40px;
  padding:0px, 16px, 0px, 16px;
}

.signUpBox {
  background-color: #1c3159;
  margin:0px;
  border:0px;
  padding:0px;
  overflow: hidden;
  text-align: center;
  font-family:'Poppins', sans-serif;
}

.formBox {
	padding-left: 35%;
}

.signupbttn {
  align-self: center;
	margin-top: 15px;
  font-size: 30px;
  border-radius: 0.4rem;
  box-shadow: 3px 3px 5px 6px #000000;
  margin-left: 6rem;
}

input[type=text] {
  width: 40%;
  height:25px;
}

input[type=email] {
  width: 40%;
  height:25px;
}

input[type=password] {
	width:40%;
	height:25px;
}

input[type=submit] {
	width:17%;
	height:50px;
	font-size:20px;
	background-color: #333;
	color: white;
}